<div class="about-card">
  <div class="profile-img">
    <img alt="profile picture" src="https://placekitten.com/124/124" />
  </div>

  <div class="description">
    Joshua is a software engineer based out of sometimes-sunny Southern California. He builds web applications in React.js as well as productivity tools in Node.js. He is 100% self taught and continues to learn more every day.
  </div>
</div>