<footer>
  <div class="made-by">
    🔋 by <a alt="Ember.js" href="https://www.emberjs.com" title="Ember.js">Ember.js</a>
    <br />
    Built with <a alt="Buy Me a Coffee" href="https://www.buymeacoffee.com/jwu910">☕</a> by <a alt="Github profile" href="https://github.com/jwu910">Joshua Wu</a> © 2019
  </div>
</footer>