<footer>
  <div class="made-by">&lt; /&gt; with <a alt="Buy Me a Coffee" href="https://www.buymeacoffee.com/jwu910">☕</a> by <a alt="Github profile" href="https://github.com/jwu910">Joshua Wu</a></div>
</footer>