<header>
  <nav>
    {{#link-to "home" class="nav-item"}}Home{{/link-to}}
    {{#link-to "about"class="nav-item"}}About{{/link-to}}
    {{#link-to "projects" class="nav-item"}}Projects{{/link-to}}
  </nav>
</header>
{{yield}}