.about-card {
  padding: 8px;

  .description {
    padding: 8px;
  }

  .profile-img {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    width: 64px;
    height: 64px;

    img {
      display: inline-block;
      height: 100%;
      margin: 0 auto;
      width: 100%;
    }
  }

  @media only screen and (min-width: 670px) {
    padding: 48px;

    .description {
      padding: 24px 64px;
    }
  }
}
