@import "variables";

#projects {
  display: flex;
  flex-direction: column;
  width: 100%;

  .project-card {
    box-shadow: $shadow;
    margin: 12px;
    padding: 24px;
    width: auto;

    .project-header {
      display: flex;

      .title {
        margin-left: 8px;
      }

      img {
        height: 32px;
        width: 32px;
      }
    }

    .description {
      margin-bottom: 12px;
    }
  }

  @media only screen and (min-width: 670px) {
    flex-direction: row;
  }
}
