@import "variables";

.projects {
  padding: 12px;

  & > .title {
    text-align: center;
  }

  .about-card {
    padding: 8px;

    .description {
      padding: 8px;
    }

    .profile-img {
      margin: auto;
      border-radius: 50%;
      overflow: hidden;
      width: 64px;
      height: 64px;

      img {
        display: inline-block;
        height: 100%;
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  .project-card {
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 16px;

    .tags {
      display: flex;
      flex-direction: row;
      height: auto;
      margin-bottom: 8px;
      width: 100%;

      .tag {
        background-color: transparentize($background_dark, 0.9);
        border: solid 1px transparentize($background_dark, 0.9);
        border-radius: 8px;
        color: transparentize($background_dark, 0.5);
        font-size: 0.8rem;
        margin: 4px;
        padding: 4px 8px;
        width: auto;
      }
    }

    .project-header {
      display: flex;
      flex-direction: row;
      width: auto;

      .title {
        margin-left: 8px;
      }

      img {
        height: 32px;
        width: 32px;
      }
    }

    .description {
      margin-bottom: 12px;
    }
  }

  @media only screen and (min-width: 670px) {
    .about-card {
      margin-bottom: 24px;

      .description {
        margin: auto;
        padding: 0 48px;
      }

      .profile-img {
        width: 124px;
        height: 124px;
        margin-bottom: 12px;
      }
    }

    .project-card {
      margin-top: 48px;
      margin-bottom: 48px;
    }
  }
}
