@import "about_card";
@import "contact";
@import "home";
@import "projects";
@import "separator";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $background_light;
  background-image: url('/assets/images/bg-pattern.png');
  background-repeat: repeat;
  font-family: $base_font;
}

.view {
  margin: auto;
  max-width: 764px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
  margin-top: 8px;
}

a {
  color: $text_base;

  &:active, &:visited {
    color: $text_base;
  }

  &:hover {
    color: $action_primary;
  }
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: $background_dark;
  color: $text_light;
  height: $header_height;
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    padding: 12px;
    width: auto;

    .nav-item {
      color: $text_light;
      padding: 12px;
      text-decoration: none;

      &:hover {
        color: $action_primary;
      }
    }
  }
}

footer {
  background-color: $background_dark;
  bottom: 0;
  color: $text_light;
  display: flex;
  flex-direction: column;
  height: auto;
  line-height: 1.5em;
  margin-top: auto;
  padding: 48px;
  position: fixed;
  text-align: center;
  width: 100%;

  .made-by {
    margin: auto;
    width: auto;

    &, & > a {
      color: $text_light;
    }

    a:hover {
      color: $action_primary;
    }
  }
}

section {
  margin-bottom: $footer_height;

  .description {
    line-height: 1.5em;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}
