$font-size-base: 16px;

$theme-color-primary: #f76c26;
$theme-color-secondary: #d32f09;
$theme-background-color: lighten($theme-color-primary, 40%);

$theme-link: $theme-color-secondary;
$theme-link-hover: $theme-color-primary;