<div id="about">
  <div class="bio">
    <Image @alt="Hero" @src="https://loremflickr.com/cache/resized/428_18882928900_1a70f69c13_c_640_360_nofilter.jpg" />
    <div class="description">
      <h2>About Me</h2>

      <p>
        Hi, I'm Josh. a software engineer in Southern California. I build web applications and CLI tools.
      </p>

      <p>
        Sometimes I automate reports in Excel with Visual Basic for Applications and magic formulas.
      </p>

      <p>
        Check out some of my {{#link-to "projects"}}Projects{{/link-to}}
      </p>
    </div>
  </div>
</div>